:root{

    --background: #7d3db1;
    --green-700: #b64de7;
    --green-500: #a289c9;
    --green-300: #7710cc;
    --green-100: #6b39ad;
    --color-white: #eee;


}


body{
  background: var(--background);
    color: var(--color-white);
}

header{
    padding: 15px;
    /* background: var(-); */
}

header .navbar ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

header .navbar ul li a{
    color: var(--color-white);
    font-size: 1.4em;
    cursor: pointer;
}




main{
    padding: 20px 10%;
}

.sobre{
    display: flex;
}

.sobre .img {
    width: 50%;

}

.sobre .img img{
    width: 100%;
}


.sobre .conteudo h1{
    text-align: center;
    padding-right: 100px;
}

.conteudo p{
  text-align: center;
  margin: 25px 50px ;
}

.experiencia h1{
  text-align: center;
}


.experiencia ul{
  padding: 20px;
  text-align: center;
}

.experiencia li{
  padding: 15px;
  list-style: circle;
}



.country img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.country {
  text-align: center;
}

.country a{
  background-color: white;
  font-size: 15px;
  padding: 20px 15px; /* o primeiro valor aumenta para cima e para baixo já o segundo pra esqueda e para direita */
  border-radius: 30px;
  display: inline-block; /* aqui ele não ultrapassa a div*/
  width: 80px;
  height: 55px;
  margin-top: 50px;
}